<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="QuanLyGaraOto.Properties.Settings.QuanLyGaraOtoConnectionString"
            connectionString="Data Source=DESKTOP-8G8GGQG\DUONGDB;Initial Catalog=QuanLyGaraOto;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>